/* .grid{
 display:grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 50px;
} */

.bri-img{
    width: 20%;
    float: left;
    filter: drop-shadow(5px 5px lightblue);
  }
  .center{
    text-indent: 650px;
   /* text-align:center; */
  }
  body {
    background-color: lightgray;
  }
  /* .fa-linkedin {
    background: #007bb5;
    color: white;
  }  */
  /* div{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
     width: 250px;
    border:  ghostwhite;
    padding: 50px;
    margin: 20px;
  } */
   /* section{
    text-indent: 70px;
     width: 250px;
    border: 15px solid ghostwhite;
    padding: 50px;
    margin: 20px;
  }  */
  
  /* Project 4 adding below. */
  .hover {
     border-color: white;
    background: gray;
    color: rgb(11, 32, 32);
    font-weight: 600;
    transition: all 0.5s ease-out;
  }
  
  .hover:hover {
    border-color: rgb(241, 201, 20);
    background: whitesmoke;
    color: rgb(11, 32, 32);
    font-weight: 600;
    transition: all 0.5s ease-out;
  }
  
  .grid-item {
    padding: 1rem;
    font-size: 1rem;
    background-color: rgba(238, 240, 243, 0.89);
  }
  
  .grid-container {
    display: grid;
    min-height: 60vh;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
    gap: 0.5rem;
    
  }
  
  .fade-in {
    animation: fade-in 3s forwards;
  }
  
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  .ui-component {
    margin-bottom: 5.75rem;
  }

  /* Project 5 adding below */
